################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AvinyaLib/.vs/AvinyaLib/FileContentIndex/17a96c7e-4443-4123-a01a-dec2a00a3440.vsidx
/AvinyaLib/.vs/AvinyaLib/FileContentIndex/3dab24dd-fd91-4cc7-baac-cc68344e399f.vsidx
/AvinyaLib/.vs/AvinyaLib/FileContentIndex/5e08fb41-745d-4e82-a5f0-cc5dfe6ef25d.vsidx
/AvinyaLib/.vs/AvinyaLib/FileContentIndex/98ccbada-adcd-4f0a-967d-bc798227a7c2.vsidx
/AvinyaLib/.vs/AvinyaLib/FileContentIndex/adcf51ac-9b96-4371-b267-d46c1b7a242a.vsidx
